h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: black;
    background: linear-gradient(rgb(228, 42, 42),rgb(124, 11, 11));
    margin: -10px;
    text-align: center;
    padding: 40px;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}